.App {
  text-align: center;
}

table{
  margin: 40px;
  border-collapse: collapse;
  border: 2px solid black;
  background-color:lightblue;
}
th,td{
  border-collapse: collapse;
  border: 2px solid black;
}
caption{
  font-size: 2rem;
  background-color:lightpink;
}

table{
  margin: 40px;
  border-collapse: collapse;
  border: 2px solid black;
}


